// Palette
$storm_burnt_rose: #94424C;
$storm_honey: #E9AD50;
$storm_charcoal: #44403B;
$storm_sandstone: #AC9A83;
$storm_light_slate_blue: #485C5F;
$storm_slate_blue: #2a3f42;
$storm_dark_slate_blue: #14242A;
$storm_base: #2B2F31;
$storm_mantle: #181B1C;
$storm_crust: #0B1218;

// Exported
$primary: $storm_burnt_rose;
$secondary: $storm_honey;

$base: $storm_base;
$mantle: $storm_mantle;
$crust: $storm_crust;
